<nav class="navbar fixed-top navbar-expand-lg navbar-light shadow"> <!--navbar-light bg-light-->
  <div class="container-fluid">
    <img src="{{ .Site.BaseURL }}/profile/avatar.png" class="rounded-circle avatar" alt="avatar">
    <a class="navbar-brand site-title" style="color: #458588" href="{{ .Site.BaseURL }}"> ./{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" style="color: #282828;">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {{ range.Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar {
    background: #fbf1c7;
  }
  .nav-link, .dropdown-item {
    color: #282828 !important;
    padding: 10px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    font-weight: bold;
  }
  .nav-link:hover, .dropdown-item:hover {
    color: #d65d0e !important;
    transform: scale(1.05);
  }

  .active {
    color: #d65d0e !important;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
  
  .site-title {
    font-weight: bolder;
    color: #458588;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }
</style>


<script>
  (function() {
      const links = document.getElementsByClassName("nav-link")
      const currentUrl = location.href
      for (const link of links) {
          if (link.href === currentUrl) {
              link.classList.add('active')
          }
      }
  }())
  </script>